ID 1234 STATUS EMPTY CREATOR EMPTY     ACCESS_POLICY
    ACCESS_CONTROL
        PBAC FOR * ON ADMIN BY PRINCIPAL.USER.NAME = "Fuad Rashid" DO ALLOW 
        PBAC FOR * ON READ BY "Policy Administrator" DO ALLOW 
        PBAC FOR * ON WRITE BY "Policy Analyst" DO ALLOW
    DEFAULT_ACCESS_CONTROL
        PBAC FOR * ON READ BY PRINCIPAL.USER.NAME = "Fuad Rashid" DO ALLOW 
    ALLOWED_ENTITIES
        POLICY_ENTITY, USER_ENTITY
    POLICY AllowPolicyOnFuad
    FOR RESOURCE.FSO.NAME = "?c:\\**.java"
    ON *
    BY (RESOURCE.FSO.OWNER = "S-1-5-21-668023798-3031861066-1043980994-2631" AND PRINCIPAL.USER.NAME = "Prabhat Keni")
    DO ALLOW
    BY DEFAULT DO DENY
    ON ALLOW DO log
